.SearchForm{

   display: flex;
   justify-content: center;
   background-color: #ECC9C7;
   margin-bottom: 10px;
   border: 1px solid black;
   border-radius: 5px
}

.content{
    margin: 15px 0 15px 0;
    text-align: center;
}

.label{
    font-size: large;
    font-weight: bold;
    margin: 15px 0 15px;
} 

.form{
    
    margin: 15px 0 15px;
} 

.button{
    
    margin: 20px 0 15px;
} 